:root {
    --main-blue: #00387a;
    --sec-blue: #1C4EAA;
    --main-grey: #e8e8e8;
    --sec-grey: #FFFFFF;
    --main-orange: #f26522;
    --sec-orange: #ff6d00;
}

body {
    background-color: var(--main-grey);
    color: var(--sec-grey) !important;
    font-family: Open Sans, sans-serif;
    font-size: .825rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    background-color: var(--main-grey);
}


/* Header section */
#top-header {
    border-bottom: 1px solid var(--sec-grey);
    flex-wrap: nowrap;
    flex-direction: column;
}

.bg-main-blue {
    background-color: var(--main-blue);
}

.address {
    border-right: 1px solid var(--sec-grey);
    border-left: 1px solid var(--sec-grey);
    display: flex;
    flex-wrap: wrap;
    color: var(--sec-grey);
    word-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--sec-grey);
    word-wrap: wrap;
}

img {
    border-style: none;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}

.info-title {
    color: #bfc4c7;
    font-weight: 600;
}

/* ------ */

/* Navbar section */

.navbar {
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--main-orange);
}

.navbar-dark .navbar-toggler {
    color: #ffffff80;
    border-color: #ffffff1a;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: initial;
    border: 1px solid #0000;
    border-radius: 0.25rem;
}

button,
input {
    overflow: visible;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    margin-top: 0;
}

address,
ul {
    margin-bottom: 1rem;
}

a.nav-link.active {
    background-color: var(--main-orange);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus {
    background-color: var(--main-orange) !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem !important;
}

.nav-link {
    display: block;
}

.btn-main-orange:hover {
    background-color: var(--main-orange) ! important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: var(--sec-grey);
    background-clip: padding-box;
    border: 1px solid #00000026;
}

.dropdown-item {
    padding: 10px 10px 10px 10px !important;
}

/* ---------- */


.test-body {
    /* box-sizing: border-box; */
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--sec-grey);
    border-radius: 5px;
    border: 1px solid #babbae;
    z-index: 1;
    position: relative;
}

/* home slides */

.carousel-inner{
    margin-bottom: 25px;
}
.carousel-inner .carousel-item img {
    height: 400px;
}

.hero-home {
    position: relative;
    align-items: center;
}

/* .py-md-7 {
    padding-top: 8rem!important;
    padding-bottom: 8rem!important;
} */

.z-index-20 {
    z-index: 20!important;
}

.search-bar {
    border-radius: 10rem;
    background: transparent;
    box-shadow: 0 0 1rem rgba(0,0,0,.15);
}

.search-bar .form-group {
    position: relative;
    margin-bottom: 0;
}

.search-bar .form-control {
    height: calc(1.6em + 1rem + calc(var(--bs-border-width) * 2));
    background-color: transparent;
    color: #fff;
}

.search-bar .form-control::placeholder{
    color: #CCD1E4;
}

.shadow-0 {
    box-shadow: none!important;
}

.search-bar .form-group:after {
    display: block;
    width: 1px;
    height: 60%;
    content: "";
    background: #ddd;
    position: absolute;
    top: 20%;
    right: 0;
}

.btn, p.lead strong {
    font-weight: 700;
}

/* ---------- */

/* ---------- */

.carousel-section-header {
    text-transform: uppercase;
    border-bottom: 2px solid #C9C9C9;
}

.carousel-section-header .home-h2{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
}



.carousel-section-header i {
    font-size: 18px;
    width: 30px;
    height: 30px;
    color: #fff;
    position: relative;
    margin-right: 16px;
    margin-bottom: -2px;
    vertical-align: middle;
    display: inline-block;
}

.carousel-section-header i {
    background: linear-gradient(to right, #fdda0d 40%, #ff6d00);
}

.bi-star-fill:before {
    speak: none;
}

*:before, *:after {
    box-sizing: border-box;
}

.carousel-section-header i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-section-header i:after {
    border-right-color: #fdda0d !important;
}

.carousel-section-header i:after, .settings-page .nav-tabs-wrap ul.nav-tabs li.active:after {
    border-left-color: #f26522;
}

.carousel-section-header i:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #f26522;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-section-header a {
    text-decoration: none;
}

/* trending books */

.wraper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 40px 25px 40px;
}

.owl-theme img {
    width: 100%;
    min-height: 200px;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: var(--sec-grey) !important;
    color: var(--main-blue) !important;
    font-size: 1.5em !important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    font-weight: bold !important;
    padding: 15px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
}

.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover {
    box-shadow: 0px 0px 0px 0px #000;
    background-color: var(--sec-orange) !important;
    color: var(--sec-grey) !important;
}

.owl-carousel .owl-prev {
    left: -30px;
}

.owl-carousel .owl-next {
    right: -30px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--sec-orange) !important;
    width: 25px;
    transition: 0.2s ease-in-out;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--sec-orange) !important;
    transition: 0.2s ease-in-out;
}


/* Responsive design custom css */
@media only screen and (max-width:480px) {
    .owl-theme .owl-dots .owl-dot {
        display: none;
    }

    .owl-carousel .owl-prev,
    .owl-carousel .owl-next {
        width: 30px;
        height: 30px;
        font-size: 14px !important;
        top: 45%;
        box-shadow: 0px 0px 0px 0px #000;
    }

    .owl-carousel .owl-prev {
        left: 0px;
    }

    .owl-carousel .owl-next {
        right: 0px;
    }
}

/* -- */
.book .book-cover img {
    margin: 0 auto;
    box-shadow: 1px 2px 5px 0 #c3b683;
    border-radius: 3px;
    max-width: 150px;
    max-height: 300px;
}


.book .book-cta {
    margin: 5px auto 0;
    font-size: .9em;
    padding: 5px 0;
    max-width: 163px;
}

.cta-button-group {
    display: flex;
    align-items: center;
    position: relative;
}

.cta-btn,
a.cta-btn {
    font-size: 16px;
    color: var(--sec-grey) !important;
    width: 100%;
    display: block;
    /* */
    border: 0;
    /* */
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 7px;
    white-space: nowrap;
    background-color: var(--sec-orange);
    line-height: 1.5em;
    text-decoration: none;
    transition: background-color .2s;
}

.cta-button-group .cta-btn {
    margin: 0;
    padding: 8px 0 !important;
}

.cta-button-group .cta-btn:first-child {
    flex: 1;
    padding: 8px;
    overflow: hidden;
}

p {
    color: #fff;
    font-size: .875em;
    line-height: 1.5em;
}

/* ------- */

/* Footer Section  */

#footer p{
    color: var(--sec-grey);
}
.footer .list-social li {
    margin-right: 20px;
    display: inline-block;
    font-size: 20px;
}

.footer .list-social li a {
    color: var(--sec-grey);
}

#footer {
    background-color: var(--main-blue);
}

hr {
    margin: 1rem 0;
    color: var(--sec-grey);
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

/* --- */